body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--main-white-color);
}

:root{
    --logo-color: #4D5AE5;
    --main-color: #2E2F42;
    --hover-and-focus-color: #404BBF;
    --text-color: #434455;
    --main-white-color: #FFFFFF;
    --footer-text-color: #F4F4FD;
}

h1, h2, h3, h4, h4, h5, h6, p, ul {
margin: 0;
padding: 0;
}

.img{
display: block;
}

.container{
    width: 1158px;
    align-items: center;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.list{
    list-style: none;
}

.link{
    text-decoration: none;
}

.page-header{ 
width: 1440px;
margin-left: auto;
margin-right: auto;
border-bottom: 1px solid #e7e9fc;
} 

.header-container{
display: flex;

}

.page-nav{
    display: flex;
   align-items: center;
}

.logo{
    margin-right: 76px;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--logo-color);
}

.logo-accent{
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-color);
}

.menu-list{
    display: flex;
    margin-right: 332px;
}

.menu-item{
    margin-right: 40px;
}

.menu-item:nth-child(3){
    margin-right: 0;
}

.menu-item-link{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-color);
    }

.menu-item-link:hover, :focus{
    color: var(--hover-and-focus-color);
}


.contacts-info{
    font-style: normal;
}

.contacts{
    display: flex;
}

.contacts-item{
margin-right: 40px;
}

.contacts-item:nth-child(2) {
    margin-right: 0;
}

.contact-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
}

.contact-link:hover, :focus{
    color: var(--hover-and-focus-color);
}

/* .main-content{
    
} */

.hero{
    background-color: #2E2F42;
    text-align: center;
}


.hero-title{
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color:var(--main-white-color);
    width: 496px;
    padding-top: 188px;
    padding-bottom: 46px;
    margin-left: auto;
    margin-right: auto;
}

.main-hero-button{
    background-color: var(--logo-color);
    color: var(--main-white-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    padding: 16px 32px;
    margin-bottom: 195px;
}
.main-hero-button:hover,:focus{
    background-color: var(--hover-and-focus-color);
}

.second-header {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
}

.third-header{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--main-color); 
}

.feature-descriptions{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
}
.text-font{
    font-family: inherit;
}

.extra-margin{
    margin-top: 8px;
}

.work-description{ 
    text-align: center;
}

.team{
    background-color: var(--footer-text-color);
    text-align: center;
}

.members-of-team{
    background-color: var(--main-white-color);
}

.page-footer{
    background-color: var(--main-color);
}

.logo-second {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--logo-color);
}

.logo-second-accent {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--footer-text-color);
}

.text-footer{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--footer-text-color);
}

.portfolio-button{
    background: var(--footer-text-color);
    color: var(--logo-color);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
}

.portfolio-button:hover, :focus{
    color: var(--main-white-color);
    background-color: var(--hover-and-focus-color);
}


.portfolio-visual-item{
    background-color: var(--main-white-color)
}
   

.img-card-header{
    font-family: inherit;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--main-color);
}
